@import 'base';

$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);


$red: rgb(200,100,100);

html, body{
	width:100%;
	height:100%;
	position:relative;
	font-family : Helvetica, 'Lato', sans-serif;
}
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#map_container, #map{
	width:100%;
	height:100%;
	background-color: white;
		position:absolute;
	top:0px;
	left:0px;
}

h1{
	margin: 0 0 40px 0 ;
}

.text_overlay{

	margin:150px 0 150px 10%;
	padding: 20px;
	color : rgb(50,50,70);
	background-color: rgba(255,255,255,0.7);

	width:50%;
	position:absolute;
	top:0px;
	left:0px;
	z-index: 4;
	font-size: 1.3em;
	max-width: 600px;

	p{
	max-width:550px;
	text-align: justify;
	line-height: 1.4em;
	margin: 30px 0 20px 0;
	}

	#desc{
		font-weight: 100;
	}
}

fc{
	color: $red;
}

fh{
	background-color: $red;
	color:white;
	padding: 0 5px 0 5px;
}

p{
	display:block;
}

#time_section{
	display:block;
	position:relative;
}
#time, #time_desc{
	display:inline-block;
	float:left;
	padding: 10px 0 10px 0;
	line-height: 1.3em;

}

#time{
	font-size: 1.2em;
	margin: 0 40px 0 0 ;
	font-weight: 700;
}

#time_desc{
	max-width:490px;
	font-size: 1.1em;
}

ul#social{
	margin:40px 0 0 0;
	padding:0px;

	li{
		margin: 0 2px 0 2px;

	}
}


.text_overlay.en{
	text-align: left;
	
	#time_section{
		#time, #time_desc{
			float: left;
		}
	}
	#time{
		margin: 0 40px 0 0;
	}

}

.text_overlay.ar{
	text-align: right;
	
	#time_section{
		#time, #time_desc{
			float: right;
		}
	}
	#time{
		margin: 0 0 0 40px;
	}

}

#lang{
	z-index: 100;
	position:absolute;
	top:0px;
	right: 50px;
}


$col : rgb(40,40,60);
.langbtn{
	padding: 10px;
	text-align: center;
	display:inline-block;
	width:40px;
	margin:0px;
	float:left;

	background-color: rgb(40,40,60);
	color:white;
	@include transition(background-color 100ms ease-in);
	cursor: pointer;

	&:hover{
		@include transition(background-color 100ms ease-in);

		background-color: white;
		color: $col;
	}
}

